<header class="text-center my-5">
  <h1 class="text-success">All Brands</h1>
</header>
<section class="">
  <div class="row g-3">
    <div class="col-md-3" data-bs-toggle="modal" data-bs-target="#exampleModal"  *ngFor="let Brand of brandProducts">
      <div class="card text-center coverPage" (click)="getTargetBlank(Brand.image , Brand.name)">
        <img [src]="Brand.image" class="card-img-top w-100" [alt]="Brand.name">
        <p>{{Brand.name}}</p>
      </div>
    </div>
  </div>
</section>










<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>  -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="imageBrandSrc" class="w-100" [alt]="nameBrand">
        <p>{{nameBrand}}</p>
        <h3>{{nameBrand}}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
