<form [formGroup]="resetPassword"  (ngSubmit)="handleResetPassword()">
  <h1>reset your account password</h1>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="newPassword">
    <label for="floatingPassword">Password</label>
  </div>
  <button class="px-4 py-2 btn btn-outline-success">Reset Password</button>
</form>
